#first ignore everything
/*
# "un-ignore in the root folder
!.gitignore
!*.md
!*.m
!LICENSE

!/test_data
/test_data/*
!/test_data/*.traj
!/test_data/*.opt

!/CPP
/CPP/*
!/CPP/CMakeLists.txt
!/CPP/*.cpp
!/CPP/*.h

!/RUST
/RUST/*
!RUST/Cargo.toml
!/RUST/src
